body {
    font-family: Arial, sans-serif;
    background-color: #fff; /* branco */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #ff8c00; /* laranja */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #87ceeb; /* azul claro */
    color: #fff;
}

tr:nth-child(even) {
    background-color: #ffff66; /* amarelo */
}

tr:hover {
    background-color: #f2f2f2;
}
